@charset "utf-8";

@import "_var", "_mixin";
@font-face{
    font-family: 'Audrey';
    src: url(../font/Audrey-Normal.otf);
    src: local("※"),
    url(../fonts/Audrey-Normal.otf) format("opentype");
    font-weight: 300;
}
@font-face{
    font-family: 'Audrey';
    src: url(../font/Audrey-Medium.otf);
    src: local("※"),
    url(../font/Audrey-Medium.otf) format("opentype");
    font-weight: 400;
}
@font-face{
    font-family: 'Audrey';
    src: url(../font/Audrey-Bold.otf);
    src: local("※"),
    url(../font/Audrey-Bold.otf) format("opentype");
    font-weight: 500;
}

/* tag reset */
body, h1, h2, h3, h4, h5, h6, ul, button, p, figure{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{font-style: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
button{border: none; background: none;}
img{vertical-align: top;}
img,figure{max-width: 100%; height: auto;}
address{font-style: normal;}
header, nav, section, article, figure, footer{display: block;}

/* common class */
.sr-only{position: absolute; left: -9999px;}
body{font-family: "Century Gothic",CenturyGothic; font-size: 13px; color:#333; line-height: 22px; font-weight: 300; word-break: normal;}

/* header */
#header{
    @include transition(all 0.6s);
    //position: relative;
    position: fixed; 
    z-index: 100;
    width: 100%;
}
.logo{
    background: #ffc72a;
    width: 100%;
    height: 65px;
}
.logo a img{margin-left: 20px; margin-top: 8px;}
.logo > p{font-family: Audrey; font-weight: 300; font-size: 18px; position: absolute; top: 20px; left: 30%; text-align: center;}
/* 네비게이션 메뉴 */
.btn_menu{
    &, .line{position: absolute;}
    top: 18px;right: 15px;width: 24px;height: 20px;z-index: 100;
    .line{
        @include radius(8px);
        @include transition(all 0.5s);
        width: 100%;height: 1px;background: #333;left: 0;
        &.top{top: 0;}
        &.mid{top: 10px;}
        &.btm{top: 20px;}
    }
    &.active{
        .top{
            @include transform(rotate(45deg));
            top: 10px;
        }
        .mid{opacity: 0;}
        .btm{
            @include transform(rotate(-45deg));
            top: 10px;
        }
    }
}
#gnb{
    visibility: hidden;position: fixed;top: 0;left: 100%;right: 0;bottom: 0;background: #375543;padding-top: 56px;overflow-y: auto; z-index: 20; //overflow-y: auto; 모바일회전 landscape(가로)일 경우 fixed는 숨겨진 메뉴를 볼수 없기때문에
    ul li a{display: block;height: 35px;line-height: 35px;color: #fff;}
    > ul > li{
        > a{position: relative;padding: 15px 40px;font-size: 18px;font-weight: 500;}
        &:not(.nosub) > a::before, &:not(.nosub) > a::after{content: "";position: absolute;right: 40px;top: 50%;width: 12px;height: 2px;background: #fff;}
        &:not(.nosub) > a::after{
            @include transform(rotate(90deg));
            @include transition(transform 0.5s);
        }
        //#gnb > ul > li.on > a::after
        &.on > a::after{@include transform(rotate(0deg));}
    }
    ul li ul{
        display: none;background: #375543;
        li a{padding: 5px 40px;}
    }
}
#fullpage .fullpage { navigation: true; }
/* All i want is olympia le tan 글자 */
.video > p{width:100%; text-align: center; margin-top: 40px;  font-family: Audrey; font-size: 15px; font-weight: 300; letter-spacing: 0.15em;

    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(190, 190, 190), #000);
    background-repeat: no-repeat;
    animation: animate 3s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);

}

@keyframes animate {
    0% {
      background-position: -100%;
      background-size: 0%;
    }
    100% {
      background-position: 10%;
      background-size: 100%;
    }

  }

/* 비디오 */
.video{position: relative; padding-bottom: 56.25%;height:0;top: 50px;}
.youtube{position: absolute;max-width: 70%; top: 40%; left: 10%; width: 100%; height: 100%; border: 30px solid #375543 ;}
/* section */
//#cnt2, #cnt3{padding-top: 65px;}
#cnt2 figure:nth-child(1), #cnt3 img{padding-top: 65px;}
/* 2번째 섹션태그 안의 글씨 및 사진 */
#cnt2
{
  figure{position: relative;}
  figcaption{position: absolute; width: 100%; top:67%; right: 12%; text-align: right; font-size: 15px; font-family: Audrey; font-weight: 300; color: white;text-shadow: 2px 2px 4px #000000; z-index: 1000;}
}
/* 3번째 섹션태그의 글씨 편집 */
#cnt3{
  p {text-align: center; word-spacing: 0.1em; font-size: 12px; margin: 20px 0;}
  .sub_tit{font-size: 15px; font-weight: 500; margin-top: 35px; text-shadow: 1px 1px #375543;}
}

#cnt4{
    width: 100%;
    footer{display: flex;justify-content: center;align-items: center; font-size: 8px; height:40px; line-height: 120%; background: #ffc72a; width: 100%;}
}

/* shop1 */
/* shop1_fig */
.shop_info{
    overflow: hidden;
    border-top: 15px solid #375543 ;
    border-bottom: 15px solid #375543 ;
    position: relative;
    top: 65px;
    max-width: 100%;
    max-height: 600%;
    background: #375543;
    figure{position: relative; max-width: 100%; }
    .figcaption1{top:500px; position: absolute; width: 100%; font-size: 15px; font-family: Audrey; font-weight: 300; color: white;text-shadow: 2px 2px 4px #000000; left: 20%; letter-spacing: 0.1em;z-index: 100;}
    .figcaption2{top:500px; position: absolute; width: 100%; font-size: 15px; font-family: Audrey; font-weight: 300; color: white;text-shadow: 2px 2px 4px #000000; left: 75%; letter-spacing: 0.1em;z-index: 100;}
    .shop_info_image1{float: left; left: 30px; animation: fadeInLeft forwards 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;}
    .shop_info_image2{float: right;animation: fadeInRight forwards 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;}
}

/*shop2*/
.preoderTitle{position: relative; text-align: center; top: 80px; padding-top: 5%; margin-bottom: 120px;
  h3{font-family: Audrey; font-weight: 500; font-size: 16px;letter-spacing: 0.4em;}
}
.shop_list{position: relative;
    li{text-align: center;position: relative; margin: 50px 30px; 
        .over{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-top: 8px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: white;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
        p{font-size:13px; letter-spacing: 0.001em;}
        .EndBorder{position: relative; border: 1px dashed #375543; top: 1.8em; width: 100%;}
      // img::after{ content: ""; position: relative; border: 1px dashed #555; width: 100%;}
    }
    li:hover .over{left: 23%; width: 54%; padding-top: 0px;background: rgba(0,0,0, 0.4);}
    li .over h4{position: relative;padding-top: 70px;}
    li.on .over{padding-top: 0px;background: rgba(0,0,0, .4);}
    li .over h4:after{content: "";position: absolute;top: 0;left: 50%;margin-left: -32px;width: 64px;height: 52px;background: url("../images/icon_infra.png") no-repeat;}
    li:nth-child(1) .over h4:after{background-position: -148px 0px;}
    li:nth-child(2) .over h4:after{background-position: -74px 0px;}
    li .over p{margin-top: 50px; padding: 20px 0 32px;line-height: 24px;}
    li .over a{display: inline-block;width: 118px;height: 30px;line-height: 30px;border: 1px solid #fff;}
    li .over a:hover, li .over a:focus{background: #fff;color: #555;}
}
/* 처음부터 보여지게 처리 : 단 투명도를 0으로 숨기기 */
.shop_list 
{
    li .over h4:after, .over p, li .over a{opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
    li:hover .over h4:after, li:hover .over p, li:hover .over a, li.on .over h4:after, li.on .over p, li.on .over a{opacity: 1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
}

#cnt5{
  width: 100%;
  footer{text-align: center; margin-top: 30px;font-size: 8px; display: inline-block; height:30px; line-height: 120%; background: #ffc72a; width: 100%;}
  footer p{margin-top: 2px;}
}
.Underline{width: 60px; position: absolute; top: 18%; left: 42%;}
.Underline p{width: 0px;height: 1px; position: absolute;background: #375543;
    animation: Underline forwards 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.5s;
  }
.Underline .left{right:30px;}
.Underline .right{left:30px;}

/*shop3*/
.consulting{
    .swiper-container{
        margin: 0 48px;border: 0px solid #375543; height: 360px;
        .swiper-slide{
          position: relative;height: 100%; text-align: center;
        }
    }
    /* slider edit */
    .swiper-pagination-fraction{bottom: 100px;}
    .swiper-button-prev, .swiper-button-next{top: 140px;width: 14px;height: 14px;overflow: hidden;display: inline-block;}
    .swiper-button-prev:after, .swiper-button-next:after{display: block;padding-top: 10px;}
    p{text-align: center; font-size: 15px; margin-top: 5%;}
    p:last-child{color: #a13160; }
}
#cnt6{
  width: 100%;
  footer{text-align: center; margin-top: 84px;font-size: 8px; display: inline-block; height:30px; line-height: 120%; background: #ffc72a; width: 100%;}
  footer p{margin-top: 2px;}
}

//company - designer
#designer{position: absolute; background: #375543; width: 100%; height: 100%; vertical-align: center; text-align: center;}
#designer img{margin-top: 36%;}
#designer p{position: relative; width:100%; text-align: center; margin-top: 40px;  font-family: Audrey; font-size: 18px; font-weight: 300; letter-spacing: 0.15em;

  overflow: hidden;
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(190, 190, 190), rgb(43, 43, 43));
  background-repeat: no-repeat;
  animation: animate 3s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


// 애니메이션
@keyframes Underline{
  0%{width: 0;}
  100%{width: 30px;}
}

  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInRight.on{  // 스크롤 애니메이션
    animation: fadeInRight forwards 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }  

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft.on{   // 스크롤 애니메이션
    animation: fadeInLeft forwards 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn.on {   // 스크롤 애니메이션
    animation: fadeIn forwards 5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }
  .fadeIn {
    animation: fadeIn forwards 5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 150%, 0);
      transform: translate3d(0, 150%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp.on{ // 스크롤 애니메이션
    animation: fadeInUp forwards 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }

